<h4>Here are the shifts for the <%= @store.name %> location:</h4>
<div class="row">
  <div class="card blue-grey lighten-4 col s12">
    <div class="card-content">
      <% if @store %>

        <% @shifts.each do |shift| %>
          <% if shift.manager.store == @store %>
            <li><%=link_to "#{shift.day.strftime('%A, %B %e, %Y')} | #{shift.formatted_start_time}", shift_path(shift) %></li> <br>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
