<!DOCTYPE html>
<html>
  <head>
    <title>Ollert</title>
    <!-- MATERIAL ICONS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css">
        <!-- APPLE -->
        <link href="https://fonts.googleapis.com/css?family=Inconsolata" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <!-- MATERIAL STYLES -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/css/materialize.min.css">
        <!-- GOOGLE FONTS -->
        <link href="https://fonts.googleapis.com/css?family=Lato:300,400|Raleway" rel="stylesheet">
        <style media="screen">
          .card .card-action a:not(.btn):not(.btn-large):not(.btn-large):not(.btn-floating) {
            color: #ee6e73;
            margin-right: 24px;
            transition: color .3s ease;
            text-transform: uppercase;
          }
        </style>
  </head>
  <nav>
    <div class="nav-wrapper blue darken-3">
      <div class="container">
        <% if current_user %>
          Hi, <%= current_user.name%>!
        <% end %>
      </div>
    </div>
  </nav>
  <body>
    <div class="container">
      <%= yield %>
    </div>

    <!-- JQUERY -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <!-- MATERIALIZE -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/js/materialize.min.js"></script>

    <!-- SCRIPT -->
    <script type="text/javascript">
      $(document).ready(function(){
        $('.parallax').parallax();
        $(".button-collapse").sideNav();
        $('.modal').modal();
        $('select').material_select('destroy');
      });

      $(document).ready(function() {
      $('select').material_select();
    });
    </script>

  </body>
  <footer class="footer-copyright container m6 s4">
    <br>
    <% if logged_in %>
      <%= link_to "LOGOUT", :logout, {:class=>"btn btn-default blue darken-3"} %>
    <% end %>
  </footer>
</html>
